<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.emergent.android.morseime"
          android:versionCode="3"
          android:versionName="1.0.2"
    >

  <!-- History:
  1.0.2 [3]: 2010-03-10 Landscape mode fixes.
  1.0.1 [2]: 2010-03-09 Fix to respect all preference settings.
  1.0.0 [1]: 2010-03-09 Initial release.
   -->

  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
  <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>

  <application android:label="@string/morse_ime_name"
               android:icon="@drawable/morse_icon"
               android:killAfterRestore="false">

    <service android:name=".MorseIME"
             android:label="@string/morse_ime_name"
             android:permission="android.permission.BIND_INPUT_METHOD">
      <intent-filter>
        <action android:name="android.view.InputMethod"/>
      </intent-filter>
      <meta-data android:name="android.view.im" android:resource="@xml/method"/>
    </service>

    <activity android:name=".MorseIMESettings" android:label="@string/morse_ime_settings">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>

    <activity android:name=".MorseIMEMain"
              android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

  </application>

  <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="7"/>

</manifest>
